<!doctype html>
<html lang="" ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dodoPromo3</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="container-fluid" ng-controller="UsersController">
      <div class="row">
        <div class="col-sm-4">
          <form ng-submit="addUser()">
            <h2>Register Client</h2>
            <label for="Name">Name:</label>
            <input type="text" id="name" ng-model="userText" size="30" placeholder="Firstname">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" ng-model="emailText" size="30" placeholder="Email">
            <span>{{userText}}</span>
            <br>
            <span>{{emailText}}</span>
            <input class="btn-primary register-button" type="submit" value="Register">
          </form>
        </div>
        <div class="col-sm-8" >
          <h2>Clients</h2>
          <span ng-if="users.length==0">No hay clientes en el sistema.</span>
          <span ng-if="users.length>0">Hay un total de <strong>{{users.length}}</strong> clientes en el sistema:</span>
          <ul class="list-users">
            <li ng-repeat="user in users">
              <span>{{ user.name }}</span> -
              <span>{{ user.email }}</span>
              <button class="btn-danger" ng-click="deleteUser($index)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>    
            </li>
          </ul>
        </div>
      </div> 
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/affix.js"></script>
    <script src="/bower_components/bootstrap/js/alert.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/modal.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/button.js"></script>
    <script src="/bower_components/bootstrap/js/popover.js"></script>
    <script src="/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
