<div class="container text-center" style="border-radius: 30px;">
    <div class="header row">
        <h1>ToDo</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group row">
                <li class="list-group-item btn list-group-item-info"
                    ng-click="newList()">
                    <i class="fa fa-plus fa-fw"></i>Lista Nueva
                </li>
                <li class="list-group-item btn"
                    ng-click="select($index)"
                    ng-repeat="item in lists track by $index">
                    {{ item.name }}, {{$index}}
                </li>
            </ul>

            <!-- <div class="tracklists-container">
                <h3>Tracklists</h3>
                <div ng-repeat="track in tracklists">
                  <button type="button" style="width:80%"  class="btn btn-default" ng-click="getID(track.name)">{{track.name}} - Songs: ({{countTracklist($index)}}) </button>
                  <button class="btn-danger" ng-click="removeTracklist($index)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                <form>
                  <button type="submit" class="btn btn-default"data-toggle="modal" data-target="#myModal">Add TrackList</button>
                </form>
            </div>-->            
        </div>
        <div class="col-sm-8" ui-view></div>
    </div>
</div>
<!--
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header header-modal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Tracklist</h4>
          </div>
          <div class="modal-body" >
            <div class="add-song">
              <div class="form-group">
                <label>Category:</label>
                <input class="form-control" type="text"  placeholder="Category" ng-model="category">
              </div>
              <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text"   placeholder="Name" ng-model="trackName">
              </div>
                <br/>

                <label>Songs:</label>
                <table style="width:100%" class="table table-hover"  >
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                  </tr>
                  <tr ng-repeat="track in tracks">
                    <td>{{track.title}}</td>
                    <td>{{track.author}}</td>
                    <td>{{track.genre}}</td>
                  </tr>
                </table>
              </div>
              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Add Songs
              </button>
              <div class="collapse" id="collapseExample">
                <div class="well">
                  <form  >
                    <div class="form-group">
                      <label >Title:</label>
                      <input class="form-control" ng-model="title" type="text" placeholder="Title" required>
                      <label >Author:</label>
                      <input class="form-control" ng-model="author" type="text" placeholder="Author" required>
                    </div>
                    <div class="form-group">
                      <label >Genre:</label>
                      <input class="form-control" ng-model="genre" type="text" placeholder="Genre" required>

                      <label >Url Mp3:</label>
                      <input class="form-control" ng-model="mp3" type="text"  placeholder="Url" required>
                    </div>
                    <button type="button" ng-click="addSong()" class="btn btn-default" >Create song</button>
                  </form>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" ng-click="addTracklist()" class="btn btn-danger" data-dismiss="modal">Save changes</button>
              </div>
            </div>

          </div>
          <div class="modal-footer">

          </div>
        </div>
    -->