<div class="container-fluid row task-list">
      
            <div class="player-container" >
              <div class="player" ng-model="Show(count)">
                <div class="row">
                  <div class="col-sm-6">
                    <img src="http://www.inspiredm.com/wp-content/uploads/2011/02/music-covers-typography-10.gif" width="300" alt=""/>
                    <audio src="http://localhost:9000/musica.mp3" preload="auto" controls></audio>
                  </div>
                  <div class="col-sm-6">
                    <h3>Name: {{aux.name}}</h3>
                    <h3>Category: {{aux.category}}</h3>
                  </div>
                </div>
                <div class="row">
                  <h3>Songs:</h3>
                  <table class="table table-hover text-center">
                    <tr >
                      <th class="text-center">Title</th>
                      <th class="text-center">Author</th>
                      <th class="text-center">Genre</th>
                    </tr>
                    <tr ng-repeat="songs in aux.songs">
                      <td>{{songs.title}}</td>
                      <td>{{songs.author}}</td>
                      <td>{{songs.genre}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
</div>
