<!--<div class="checkbox task">
    <label ng-class="{done: task.done}">
        <input type="checkbox" ng-model="task.done"
        ng-change="toggle()">
        {{ task.text }}
    </label>
</span>-->
